anyio==4.12.1
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
comtypes==1.4.15
contourpy==1.3.3
cycler==0.12.1
docopt==0.6.2
Flask==3.1.2
fonttools==4.61.1
googletrans==3.1.0a0
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httpx==0.25.2
hyperframe==5.2.0
idna==2.10
itsdangerous==2.2.0
Jinja2==3.1.6
Js2Py==0.74
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
MouseInfo==0.1.3
numpy==2.4.1
opencv-python==4.13.0.90
packaging==26.0
pillow==12.1.0
pipwin==0.5.2
psutil==7.2.1
psycopg2-binary==2.9.11
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==3.0
pydub==0.25.1
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
python-dateutil==2.9.0.post0
python-telegram-bot==20.7
pyttsx3==2.99
pytweening==1.2.0
requests==2.32.5
rfc3986==1.5.0
screen_brightness_control==0.26.0
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8.3
SpeechRecognition==3.14.5
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
Werkzeug==3.1.5
wikipedia==1.4.0
WMI==1.5.1